<div class="home-background w-100 p-0 m-0">
  <div class="w-100 container-wrapper">
    <div class="little-prince p-0 m-0">
      <p>r</p>
    </div>
    <div class="row">
      <div class="col-12 col-xl-8"></div>
      <div
        class="col-12 col-xl-4 d-flex flex-column align-items-center justify-content-center"
      >
        <div class="hero-img d-flex flex-column align-items-center">
          <h1 class="fs-2 fs-md-3 fs-xl-1">RecursifLab</h1>
          <p @fade class="d-none d-lg-block">Music Sound-Design</p>
        </div>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-12 col-xl-8">
        <div class="hero-content">
          <player [playerList]="image_to_music"></player>
        </div>
      </div>
      <div class="col-12 col-xl-4"></div>
    </div>

    <div class="w-100 h-100 bg-white banner-section py-4 py-md-5">
      <div class="row m-0 mx-auto w-11/12 md:w-4/5 h-100 banner-section-row">
        <div class="col-12 col-lg-3">
          <p class="banner-title mb-3">Composer</p>
          <p class="banner-description">Mockups & Production</p>
        </div>
        <div class="col-12 col-lg-9 ps-lg-3">
          <div class="w-100 banner-image mb-4">
            <div class="img-wrapper w-100 h-100">
              <img
                src="../../../assets/images/pianokontakt.jpeg"
                class="w-100 h-100"
              />
            </div>
            <img src="../../../assets/images/RecWhite.png" class="float-logo" />
            <button class="btn" routerLink="/contact">Contact</button>
          </div>
        </div>
      </div>
      <div class="row m-0 mx-auto w-11/12 md:w-4/5 h-100 banner-section-row">
        <div class="col-12 col-lg-3">
          <p class="banner-title mb-3">Musician</p>
          <p class="banner-description">Live & recording</p>
        </div>
        <div class="col-12 col-lg-9 ps-lg-3">
          <div class="w-100 banner-image mb-4">
            <div class="img-wrapper w-100 h-100">
              <img
                src="../../../assets/images/piano.jpeg"
                class="w-100 h-100"
              />
            </div>
            <img src="../../../assets/images/RecWhite.png" class="float-logo" />
            <button class="btn" routerLink="/contact">Contact</button>
          </div>
        </div>
      </div>
    </div>

    <!--Content starts-->
    <div class="content flex">
      <p class="text-white">PARIS - LONDON</p>
    </div>
    <!--Content ends-->

    <div class="header bg-white header-inner-wrapper">
      <div class="inner-header flex bg-white">
        <p>ADVERT - SHORT - TRAILER</p>
      </div>
    </div>
    <!--Header ends-->

    <div class="w-100 p-0 m-0 bg-white spitfire pb-5">
      <div class="w-75 m-auto row p-0 px-md-5">
        <div
          class="col-6 col-md-3 d-flex flex-column align-items-center mb-3 font-syncopate icon-section-text"
        >
          <img src="../../../assets/images/sm2.jpg" width="80" class="mb-2" />
          Mock-up
        </div>
        <div
          class="col-6 col-md-3 d-flex flex-column align-items-center mb-3 font-syncopate icon-section-text"
        >
          <img src="../../../assets/images/sm1.jpg" width="80" class="mb-2" />
          Project
        </div>
        <div
          class="col-6 col-md-3 d-flex flex-column align-items-center mb-3 font-syncopate icon-section-text"
        >
          <img src="../../../assets/images/sm8.jpg" width="80" class="mb-2" />
          Social media
        </div>
        <div
          class="col-6 col-md-3 d-flex flex-column align-items-center mb-3 font-syncopate icon-section-text"
        >
          <img src="../../../assets/images/sm4.jpg" width="80" class="mb-2" />
          Live Musician
        </div>
      </div>
    </div>
  </div>
</div>
